$fullwidth: '100%';
$linearmidnight_black: linear-gradient(-130deg, #011316, #016366, #011316);
$lineardeepRed: linear-gradient(-130deg, #FF0000, #DD0000, #990000, #990000, #990000, #990000);
$lineardeepGreen: linear-gradient(-130deg, #2EFF71, #2EDD71, #2daa61, #2daa61, #2daa61, #2daa61, #2daa61);
$lineardeepGold: linear-gradient(-130deg, #e3c601, #a38601, #a38601, #a38601, #a38601);
$lineardeepYellow: linear-gradient(-130deg, #FFFF00, #dddd00, #BBAA00, #AA9900, #AA9900, #AA9900, #AA9900);
$lineardeepBlue: linear-gradient(-130deg, #01e3e6, #01c3e6, #018386, #018386, #018386, #018386);
$fit_content: fit-content;
$single_auto: auto;
$zero_universal: 0px;

$margin_x_10: 10px;
$margin_x_20: 20px;
$margin_x_30: 30px;
$margin_x_40: 40px;
$margin_x_50: 50px;
$margin_x_60: 60px;

$width_10: 10px;
$width_20: 20px;
$width_30: 30px;
$width_40: 40px;
$width_50: 50px;
$width_60: 60px;
$width_80: 80px;
$width_100: 100px;
$width_150: 150px;
$width_200: 200px;
$width_250: 250px;
$width_300: 300px;
$width_350: 350px;
$width_400: 400px;
$width_450: 450px;
$width_500: 500px;
$width_550: 550px;
$width_600: 600px;
$width_650: 650px;
$width_700: 700px;
$width_750: 750px;
$width_800: 800px;
$width_850: 850px;
$width_900: 900px;
$width_950: 950px;
$width_1000: 1000px;
$width_1100: 1100px;
$width_1200: 1200px;


//font- sizes
$font_size_8: 8px;
$font_size_10: 10px;
$font_size_12: 12px;
$font_size_14: 14px;
$font_size_16: 16px;
$font_size_18: 18px;
$font_size_20: 20px;
$font_size_22: 22px;
$font_size_25: 25px;
$font_size_30: 30px;
$font_size_35: 35px;
$font_size_40: 40px;
$font_size_45: 45px;

//display positions
$display_block: block;
$display_flex: flex;
$display_inline-block: inline-block;
$display_inline-flex: inline-flex;
$display_none: none;

$object-fit_cover: cover;

body {
    font-family: 'calibri', arial;
    height: $fit-content;
    letter-spacing: 2px;
    word-spacing: 2px;
    background: $linearmidnight_black;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1281px) {
    main {
        width: $width_1200;
        // background-color: $deepBlue;
        color: #eee;
        margin: $margin_x_10 $single_auto;

        section {


            .main-heading {
                width: $fit_content;
                margin: $margin_x_30 $single_auto $margin_x_10;
                font-size: $font_size_45;
            }

            .image-container {
                margin: $margin_x_10 $single_auto;
                width: $width_800;

                .image {
                    width: $width_800;
                    height: $width_350;
                    object-fit: $object-fit_cover;
                    border-radius: $width_20;
                }
            }

            .zodiac-heading {
                width: $fit-content;
                font-size: $font_size_30 ;
                margin: $margin_x_20 $single_auto $margin_x_20;

            }

            .zodiac-description {
                width: $width_800 ;
                margin: $margin_x_10 $single_auto;
                font-size: $font_size_25;
            }

            .zodiac-container {
                display: $display_flex;
                flex-wrap: wrap;
                width: $width_1000;
                margin: $zero_universal $single_auto;
                margin: $margin_x_40 $single_auto $margin_x_20;

                .zodiac-elements {
                    border: 2px solid #FFF;
                    margin: $margin_x_20 $single_auto $margin_x_10;
                    border-radius: $width_10;
                    width: $width_450;

                    .zodiac-element {
                        width: $width_450;

                        .zodiac-heading {
                            width: $fit-content;
                            font-size: $font_size_30 ;
                            margin: $margin_x_20 $single_auto $margin_x_20;

                        }

                        .zodiac-description {
                            margin: $margin_x_10 $single_auto;
                            padding: $zero_universal $margin_x_20 ;

                            width: $fit-content;
                            margin: $margin_x_10 $single_auto;

                            font-size: $font_size_20;
                        }
                    }
                }
            }

            .zodiac-container .zodiac-elements:nth-child(1) {
                background: $lineardeepBlue;
            }

            .zodiac-container .zodiac-elements:nth-child(2) {
                background: $lineardeepBlue;
            }

            .zodiac-container .zodiac-elements:nth-child(3) {
                background: $lineardeepBlue;
            }

            .zodiac-container .zodiac-elements:nth-child(4) {
                background: $lineardeepBlue;
            }

            .zodiac-container .zodiac-elements:nth-child(5) {
                background: $lineardeepBlue;
            }

            .zodiac-container .zodiac-elements:nth-child(6) {
                background: $lineardeepBlue;
            }

            .zodiac-container .zodiac-elements:nth-child(7) {
                background: $lineardeepBlue;
            }

            .zodiac-container .zodiac-elements:nth-child(8) {
                background: $lineardeepBlue;
            }

            .zodiac-container .zodiac-elements:nth-child(9) {
                background: $lineardeepBlue;
            }

            .zodiac-container .zodiac-elements:nth-child(10) {
                background: $lineardeepBlue;
            }

            .zodiac-container .zodiac-elements:nth-child(11) {
                background: $lineardeepBlue;
            }

            .zodiac-container .zodiac-elements:nth-child(12) {
                background: $lineardeepBlue;
            }




        }
    }

}